.header {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    text-decoration: none;
}

.arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.titulo {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    color: #090937;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 83px;
}

.imagemLivro {
    width: 420px;
    height: 570px;
    border-radius: 4px;
    border-width: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F4F4FF;
    border: 1px solid #0909371A;
}

.imagemLivro img {
    width: 300px;
    height: 450px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px #6251DD33;
}

.detalhesLivro {
    width: 820px;
    display: flex;
    flex-direction: column;
    gap: 80px
}

.detalhesLivro h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 40px;
    color: black;
}

.detalhesLivro h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    color: #00000099;
}

.detalhesLivro h3 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    color: #090937;
}

.detalhesLivro p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #09093799;
}

.botao {
    width: 400px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;

    border: none;
    border-radius: 4px;
    background: #EF6B4A;
}

.botao p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.botao #preco{
    font-weight: 700;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}