.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerContainer {
    position: relative;
    width: 96.6vw;
    height: 66.7vh;
    margin-bottom: 92px;
}

.imagemBanner {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-width: 1px;
    display: block;
    object-fit: cover;
}

.textoBanner {
    width: 36.1vw;
    height: 38vh;

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Manrope;
    font-weight: 600;
    font-size: 56px;
    color: #FFFFFF;
}
