.container {
    width: 96.6vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    height: 3.3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    text-decoration: none;
}

.arrow {
    width: 1.5vw;
    height: 3.3vh;
    cursor: pointer;
}

.titulo {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    color: #090937;
}

.input {
    width: 58vw;
    height: 8.3vh;
    border: none;
    border-radius: 4px;
    background: #F4F4FF url('../../assets/Search.png') no-repeat;
    background-position: 20px center;
    padding-left: 50px;
    
    margin-left: 50%;
    margin-bottom: 45px;
    transform: translateX(-50%);

    font-family: Manrope;
    font-weight: 400;
    font-size: 20px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #09093766;
}

.input::placeholder {
    color: #09093766;
}

.naoEncontrado {
    text-align: center;
    padding: 40px;
}

.gridLivros {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {       
    .gridLivros {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 480px) {  
    .gridLivros {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}