.header {
    height: 20vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    margin-bottom: 40px;
}

.logo {
    width: 4.4vw;
    height: 6.5vh;
}

.icons {
    display: flex;
    gap: 16px;
}

.icons img{
    width: 3.65vw;
    height: 8.34vh;
}