
.container {
    width: 98.1vw;
    height: 44vh;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}


.tituloContainer {
    width: 96.6vw;
    height: 7.34vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genero {
    font-family: Manrope;
    font-weight: 700;
    font-size: 32px;
    color: #090937;
}

.verMais {
   font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    color: #EF6B4A;
    border: none;
    background-color: white;
    cursor: pointer;
}

.containerLivros {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerLivro {
    width: 23.4vw;
    height: 33.4vh;
    gap: 20px;
    border-radius: 4px;
    border-width: 1px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: #F4F4FF;
    border: 1px solid #0909371A;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.containerLivro:hover{
    transform: scale(1.05);
}


.imagem {
    width: 8.8vw;
    height: 30vh;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px #6251DD33;
}

.containerInfo {
    width: 11.3vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}


.titulo {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
    color: #090937;
    
}

.autor {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    color: #09093799;
}

.preco {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    color: #6251DD;
}